<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>

  <!-- modal-->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
     </div>
      <div>
        <h1 class="modal-title"><center> Albums (UK)</center></h1>
        <h3><center>Click on a cover to see the songs</center></h3>
      </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Albums</h4>
      </div>
      <div class="modal-body">

      <img class="img-nav_bar img-responsive" src="../../artwork/album_covers/Abbey_Road.jpg" alt="Abbey Road" height="115" width="115">

      <img class="img-nav_bar img-responsive" src="../../artwork/album_covers/Yellow_Submarine.jpg" alt="Yellow Submarine" height="115" width="115">

      <img class="img-nav_bar img-responsive" src="../../artwork/album_covers/White_Album.jpg" alt="White Album" height="115" width="115">

      <img class="img-nav_bar img-responsive" src="../../artwork/album_covers/Beatles_For_Sale.jpg" alt="Beatles For Sale" height="115" width="115">

      <img class="img-nav_bar img-responsive" src="../../artwork/album_covers/Sgt_Pepper.jpg" alt="Sgt. Pepper" height="115" width="115">

      <img class="img-nav_bar img-responsive" src="../../artwork/album_covers/Help.jpg" alt="Help" height="115" width="115">

      <img class="img-nav_bar img-responsive" src="../../artwork/album_covers/Let_It_Be.jpg" alt="Let It Be" height="115" width="115">

      <img class="img-nav_bar img-responsive" src="../../artwork/album_covers/Revolver.jpg" alt="Revolver" height="115" width="115">

      <img class="img-nav_bar img-responsive" src="../../artwork/album_covers/AHDN.jpg" alt="Hard Day's Night" height="115" width="115">

      <img class="img-nav_bar img-responsive" src="../../artwork/album_covers/With_The_Beatles.jpg" alt="With The Beatles" height="115" width="115">

      <img class="img-nav_bar img-responsive" src="../../artwork/album_covers/Please_Please_Me.jpg" alt="Please Please Me" height="115" width="115">

      <img class="img-nav_bar img-responsive" src="../../artwork/album_covers/Rubber_Soul.jpg" alt="Rubber_Soul" height="115" width="115">

          </div>  <!-- closes class "modal-body" 29 -->
        </div>    <!-- closes class "modal-content" 25 -->
      </div>      <!-- closes class "modal-dialog" 24 -->
    </div>        <!-- closes class="modal-fade" 23 -->
  </div>          <!-- closes class "modal-content" 11 -->
</div>            <!-- closes class "modal-dialog" 8 -->




















