<!DOCTYPE html>
<!-- This points to app.js on the Client side -->
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>The Beatles</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/main.css">

  </head>
  <body>
  <!-- Same name that's in controllers.js -->
  <div ng-controller="songController" class="container">      <!-- Where does the closing tag go? -->
<input ng-model="test">
{{test}}

  <form>
  <h2>Enter a song to add to the collection</h2>
  <div class="form-group">
    <label for="songTitle">Song Title</label>
    <input type="text" class="form-control" id="songTitle" placeholder="Song Title">
  </div>
  <div class="form-group">
    <label for="composer">Composer</label>
    <input type="text" class="form-control" id="composer" placeholder="Composer (ex:Lennon/McCartney)">
  </div>
  <div class="form-group">
    <label for="songLength">Song Length</label>
    <input type="number" class="form-control" id="songLength" placeholder="Song Length">
  </div>
  <div class="form-group">
    <label for="billboard100">Billboard 100</label>
    <input type="checkbox"> <br> Check if yes
  </div>
  <p>Once your changes have been made, click the submit button</p>
  <button type="submit" class="btn btn-default">Submit</button>
</form>



<div class="message-section">
    <p class="alert alert-info" role="alert" id="message"></p>
  </div>
  <div class="song-section">
    <h2 class="text-center"></h2>
    <table class="table">
      <thead>
        <tr>
          <th>Song Title</th>
          <th>Composer</th>
          <th>Song Length</th>
        </tr>
      </thead>
      <tbody id="songs">
       <tr ng-repeat='song in songs'>
          <td>{{song.songTitle}}</td>
          <td>{{song.composer}}</td>
          <td>{{song.songLength}}</td>
          <td class='text-right'>
            <button ng-click="editSong(song._id)" class='btn btn-primary'><span class='glyphicon glyphicon-pencil'></span></button>
            <button ng-click="deleteSong(song._id)" class='btn btn-danger'><span
<!-- (song._id is a great efficient way to do this because when you create a new song, the database assigns each one with an underscore id (_id)) -->


            class='glyphicon glyphicon-remove'></span></button>
            </td>
        </tr>
      </tbody>
    </table>
    <form>
  <div class="form-group">
    <label>Song Name</label>
    <input ng-model='newName'type="text" class="form-control" id="songTitle" placeholder="Song Title" required>
  </div>
  <div class="form-group">
    <label>Composer</label>
    <input ng-model='newType' type="text" class="form-control" id="composer" placeholder="Composer (ex:Lennon/McCartney)" required>
  </div>
  <div class="form-group">
    <label>Song Length</label>
    <input ng-model='newAbv' type="number" step="0.1" class="form-control" id="songLength" placeholder="Song Length" required>
  </div>
  <button ng-click='editsong(song.name)' type="submit" class="btn btn-default" required>Update</button>
</form>
  </div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>





<!-- NEXT STEPS -->
<!-- show all records res.render the data -->
<!-- edit and delete songs -->

<!-- QUESTIONS -->
<!-- Talk about the script files in index.html. Specifically, their placement and file path -->
<!-- I want to make a change in my Schema -->
