<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Beatles Albums</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body ng-app="myApp">
    <div class="container-fluid">
      <beatles-header></beatles-header>
    </div>
    <div class="container">

      <div id="mid-section" class=" ">

      <div id="albums" class="col-md-4">
        <beatles-albums></beatles-albums>
      </div>

        <div id="songs" class="col-md-4">
          <beatles-songs></beatles-songs>
        </div>

        <div id="earlyAndSolo" class="col-md-4">
          <beatles-years></beatles-years>
        </div>

      </div>
    </div>
    <div class="container-fluid">
      <div id="footer"class="row">
        Footer
      </div>
    </div>
    <div ng-controller="songController"></div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
    <script src="./js/app.js" type="text/javascript"></script>
    <script src="./js/header.js" type="text/javascript"></script>
    <script src="./js/beatlesAlbums.js" type="text/javascript"></script>
    <script src="./js/beatlesSongs.js" type="text/javascript"></script>
    <script src="./js/beatlesYears.js" type="text/javascript"></script>
    <script src="./js/controllers.js" type="text/javascript"></script>
    <script src="./js/directives.js" type="text/javascript"></script>
    <script src="./js/filters.js" type="text/javascript"></script>
    <script src="./js/services.js" type="text/javascript"></script>
  </body>
</html>
