<!DOCTYPE html>
<html ng-app="myApp">   <!-- This points to server/routes/app.js. Client side -->
<head>
  <meta charset="utf-8">
  <title>The Beatles Song Catalog - Official and Otherwise</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div ng-controller="songController" class="container">
  <!-- Same name that's in controllers.js -->


  <!-- **********************
       *  Enter a New Song  *
       **********************
  -->

  <form>
    <h2>Enter a song to add to the collection</h2>
    <div class="form-group">
      <label for="songTitle">Song Title</label>
      <input type="text" ng-model="song.songTitle" class="form-control" id="songTitle" placeholder="Song Title">
    </div>

    <div class="form-group">
      <label for="composer">Composer</label>
      <input type="text" ng-model="song.composer" class="form-control" id="composer" placeholder="Composer (ex:JL/PM)">
    </div>

    <div class="form-group">
      <label for="albumTitle">Album Title</label>
      <input type="text" ng-model="song.albumTitle" class="form-control" id="albumTitle" placeholder="Album Title">
    </div>

    <div class="form-group">
      <label for="albumYear">Year Released</label>
      <input type="number" ng-model="song.albumYear" class="form-control" id="albumYear"
      placeholder="Year Released">
    </div>


    <!--
    *********************************
      I want to use this eventually
       for my comment box and then
      I'll remove the lines of code
                 below
    *********************************
     -->

    <!-- <div class="form-group">
      <label for="comments"></label> -->
      <!-- <input type="text" ng-model="song.comments" class="form-control" id="comments" placeholder="Comments"> -->
      <!-- <textarea rows="4" cols="50" name="Comments" form="usrform">Comments</textarea><br>
    </div> -->

    <div class="form-group">
      <label for="comments">Comments</label>
      <input type="text" ng-model="song.comments" class="form-control" id="comments" placeholder="Comments">
    </div>

    <div class="form-group">
      <label for="authorizedRelease">Check if not an authorized release</label>
      <input type="checkbox">
    </div>

    <p>Once your changes have been made, click the submit button</p>
    <button type="submit" ng-click="postSong(); resetForm()" class="btn btn-primary">Submit</button>

<div class="message-section">
  </div>
  <div class="song-section">
    <h2 class="text-center"></h2>
    <table class="table">
      <thead>
        <input type="text" ng-model="songSearchText">
        <tr>
          <th>
            <button ng-click="orderByField='songTitle'; reverseSort = !reverseSort">Song Title</button></th>
          <th>
            <button ng-click="orderByField='composer'; reverseSort = !reverseSort">Composer</th>
          <th>
            <button ng-click="orderByField='albumTitle'; reverseSort = !reverseSort">Album Title</th>
          <th>
            <button ng-click="orderByField='albumYear'; reverseSort = !reverseSort">Year Released</th>
          <th>
            <button ng-click="orderByField='comments'; reverseSort = !reverseSort">Comment
        </tr>
      </thead>
      <tbody id="songs">
       <tr ng-repeat='song in songs | filter:songSearchText | orderBy:orderByField:reverseSort'>
          <td>{{song.songTitle}}</td>
          <td>{{song.composer}}</td>
          <td>{{song.albumTitle}}</td>
          <td>{{song.albumYear}}
          <td>{{song.comments}}</td>
          <td class='text-right'>
            <button ng-click="editSong(song)" class='btn btn-primary'><span class='glyphicon glyphicon-pencil'></span></button>
            <button ng-click="deleteSong(song._id)" class='btn btn-danger'><span
         <span class='glyphicon glyphicon-remove'></span></button>
            </td>
        </tr>
      </tbody>
    </table>
    <form>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




  <div class="form-group">
    <label>Song Name</label>
    <input ng-model='songedit.songTitle'type="text" class="form-control" id="songTitle" placeholder="Song Title" required>
  </div>

  <div class="form-group">
    <label>Composer</label>
    <input ng-model='songedit.composer' type="text" class="form-control" id="composer" placeholder="Composer (ex:Lennon/McCartney)" required>
  </div>

  <div class="form-group">
    <label>Album Title</label>
    <input ng-model='songedit.albumTitle' type="text" class="form-control" id="albumTitle" placeholder="Album Title" required>
  </div>

  <div>
  <label>Album Year</label>
    <input ng-model='songedit.albumYear' type="text" class="form-control" id="albumYear" placeholder="Album Title" required>
  </div>

  <button ng-click='editsong(song.name)' type="submit" class="btn btn-default" required>Update</button>
</form>
  </div>
  </div>

    <script type="text/javascript" src=''></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/services.js"></script>
    <script type="text/javascript" src="../js/controllers.js"></script>
    <script type="text/javascript" src="../js/directives.js"></script>
    <script type="text/javascript" src="../js/filters.js"></script>

  </body>
</html>


<!-- (song._id is an efficient way to do this because when you create a new song, the database assigns each one with an underscore id (_id)) -->

<!-- <img class="dropTLogo" src="../../artwork/artwork_band/dropTLogo.png" alt="The Beatles"> -->


