<h4>Beatles Songs</h4>
<button ng-click='hideSongs()'><span class="glyphicon glyphicon-remove"></span>Go Back</button>
<table>
  <tbody id="songs">
    <tr ng-repeat='song in songs | filter: albumName'>
      <td>{{song.songTitle}}</td>
    </tr>
  </tbody>
</table>




<!--

hideSongs() comes js/controllers.js and homeController $scope.hideSongs()
albumName comes from js/controllers.js homeController $scope.albumName()
song in songs - 'songs' comes from js/controllers.js and songController

-->
