body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://www.google.com/search?q=beatles+drop+t+logo&es_sm=119&biw=1440&bih=692&source=lnms&tbm=isch&sa=X&ved=0CAYQ_AUoAWoVChMIuZLp27i4yAIVRJaICh1Y3wY7#imgrc=Jpm2HguwcSbrEM%3A);
  background-size: 100% 100%;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.albums {
  border-style: solid;
  border-width: 1px;
  width: 472px;
}

.yearSoloBootleg {
  border-style: solid;
  border-width: 1px;
  width: 472px;
}

/*.image-wrapper {
  display: flex;
  flex-wrap: wrap;
}*/

/*.image-wrapper img {
  flex: 1 1 auto;
}*/

.cover {
  height: 115px;
  width: 115px;
}

.headercover {
  height: 115px;
  width: 113px;
}

.dropTLogo {

}
/*Questions*/





