body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

/*.image-wrapper {
  display: flex;
  flex-wrap: wrap;
}*/

/*.image-wrapper img {
  flex: 1 1 auto;
}*/

.cover {
  height: 115px;
  width: 115px;
}

.headercover {
  height: 115px;
  width: 113px;
}

/*Questions*/





