body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.image-wrapper img {
  flex: 1 1 auto;
}


.cover {
  opacity: .04;
  font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif;
}

/*Questions*/
/*Why can't I edit the picture in dev tools?
- .cover isn't working
- looking for a good font for the years
- want the years down at the bottom of the cover




*/
