<h1>The Beatles</h1>
<h3>Chip's Song Catalog (Official &amp; Unofficial Releases)</h3>
  <img class="headercover" src="../../artwork/artwork_band/img01.jpg" alt="The Beatles">
  <img class="headercover" src="../../artwork/artwork_band/img09.jpg" alt="The Beatles">
  <img class="headercover" src="../../artwork/artwork_band/img02.jpg" alt="The Beatles">
  <img class="headercover" src="../../artwork/artwork_band/img04.jpg" alt="The Beatles">
  <img class="headercover" src="../../artwork/artwork_band/img05.jpg" alt="The Beatles">
  <img class="headercover" src="../../artwork/artwork_band/img06.jpg" alt="The Beatles">
  <img class="headercover" src="../../artwork/artwork_band/img14.jpg" alt="The Beatles">
  <img class="headercover" src="../../artwork/artwork_band/img13.jpg" alt="The Beatles">
  <img class="headercover" src="../../artwork/artwork_band/img08.jpg" alt="The Beatles">
  <img class="headercover" src="../../artwork/artwork_band/img10.jpg" alt="The Beatles">
  <img class="headercover" src="../../artwork/artwork_band/img11.jpg" alt="The Beatles">
  <img class="headercover" src="../../artwork/artwork_band/img07.jpg" alt="The Beatles">
  <hr>


